<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Bootstrap demo</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <header class="navbar navbar-expand-lg bg-body-tertiary sticky-top border">
      <div class="container">
        <a class="navbar-brand" href="{% url 'index' %}">AskPupkin</a>

        <form class="d-flex col-6" role="search">
          <input
            class="form-control me-2"
            type="search"
            placeholder="Search..."
            aria-label="Search"
          />
          <button class="btn btn-outline-success" type="submit">Ask</button>
        </form>

        <div class="d-flex gap-2 align-items-center">
          <div>
            <img src="#" class="img-thumbnail" alt="avatar" />
          </div>
          <div class="content">
            <div class="content__name">Dr.Pepper</div>
            <div class="content__links">
              <a href="#">log in</a>
              <a href="#">register</a>
            </div>
          </div>
        </div>
      </div>
    </header>
    <div class="container mt-2">
      <div class="row">
        <main class="col bg-light vh-100">
          <section>
            <div class="d-flex align-items-center gap-2">
              <h1>Log In</h1>
            </div>
            <form action="" class="bg-light was-validated">
              <div class="bg-white p-3 rounded">
                <div class="mb-3 mt-1">
                  <label for="exampleFormControlInput1" class="form-label"
                    ><h3>Login</h3></label
                  >
                  <input
                    maxlength="64"
                    type="text"
                    name="login"
                    class="form-control w-auto"
                    id="login"
                    placeholder="Enter your login"
                    required
                  />
                  <div class="invalid-feedback">Login cannot be empty.</div>
                  <div class="valid-feedback">Login is correct.</div>
                </div>

                <div class="mb-3">
                  <label for="exampleFormControlInput1" class="form-label"
                    ><h3>Password</h3></label
                  >
                  <input
                    maxlength="128"
                    type="password"
                    name="password"
                    class="form-control w-auto"
                    id="password"
                    placeholder="Enter your password"
                    required
                  />
                  <div class="invalid-feedback">Password cannot be empty.</div>
                  <div class="valid-feedback">Password is correct.</div>
                </div>
                <div class="mt-1 mb-2">
                  <button type="submit" class="btn btn-primary">Log in!</button>
                </div>
                <div>
                  <a href="#">create new account</a>
                </div>
              </div>
            </form>
          </section>
        </main>

        <aside class="col-2">
          <section class="mb-3">
            <h3>Popular tags</h3>
            <div>
              <span class="badge text-bg-primary">Primary</span>
              <span class="badge text-bg-secondary">Secondary</span>
              <span class="badge text-bg-success">Success</span>
              <span class="badge text-bg-danger">Danger</span>
              <span class="badge text-bg-warning">Warning</span>
              <span class="badge text-bg-info">Info</span>
              <span class="badge text-bg-light">Light</span>
              <span class="badge text-bg-dark">Dark</span>
            </div>
          </section>
          <section>
            <h3>Best members</h3>

            <div><a class="d-block" href="#">Hiroshi Goto</a></div>
            <div><a class="d-block" href="#">Hiroshi Goto</a></div>
            <div><a class="d-block" href="#">Hiroshi Goto</a></div>
            <div><a class="d-block" href="#">Hiroshi Goto</a></div>
            <div><a class="d-block" href="#">Hiroshi Goto</a></div>
          </section>
        </aside>
      </div>
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
