<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Bootstrap demo</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <header class="navbar navbar-expand-lg bg-body-tertiary sticky-top border">
      <div class="container">
        <a class="navbar-brand" href="#">AskPupkin</a>

        <form class="d-flex col-6" role="search">
          <input
            class="form-control me-2"
            type="search"
            placeholder="Search..."
            aria-label="Search"
          />
          <button class="btn btn-outline-success" type="submit">Ask</button>
        </form>

        <div class="d-flex gap-2 align-items-center">
          <div>
            <img src="#" class="img-thumbnail" alt="avatar" />
          </div>
          <div class="content">
            <div class="content__name">Dr.Pepper</div>
            <div class="content__links">
              <a href="#">settings</a>
              <a href="#">sign out</a>
            </div>
          </div>
        </div>
      </div>
    </header>
    <div class="container mt-2">
      <div class="row">
        <main class="col bg-white vh-100">
          <section class="border-bottom border-dark border-2">
            <article class="container d-flex gap-3 flex-column mb-4">
              <div class="card">
                <div class="card-body bg-light">
                  <div class="row">
                    <div class="col-2">
                      <div style="height: 100px" class="border mb-2 w-100">
                        <img src="#" alt="img" class="img-fluid" />
                      </div>
                      <div>
                        <input type="number" class="form-control" value="5" />
                      </div>
                    </div>
                    <div class="col d-flex flex-column justify-content-between">
                      <div>
                        <h2 class="card-title">How pass the exams?</h2>
                        <p class="card-text">
                          With supporting text below as a natural lead-in to
                          additional content Lorem ipsum dolor sit amet,
                          consectetur adipisicing elit. Necessitatibus nam
                          debitis facilis in alias expedita nisi tenetur. A
                          sequi qui officia harum unde tempore, excepturi
                          maxime, eos facere, distinctio aperiam! Lorem ipsum
                          dolor sit amet consectetur adipisicing elit. Ea
                          explicabo debitis ratione eaque, eligendi nostrum
                          nulla nobis quos consequuntur esse omnis nam tempore
                          aspernatur atque voluptas in quisquam? Non soluta
                          reprehenderit, facere provident beatae error veniam
                          repellendus minus ipsam! Architecto repellat placeat
                          rerum ipsa officia veniam quidem delectus doloribus
                          sint?
                        </p>
                      </div>

                      <div class="row">
                        <div class="col">
                          <span>Tags:</span>
                          <span class="badge rounded-pill text-bg-primary"
                            >Primary</span
                          >
                          <span class="badge rounded-pill text-bg-secondary"
                            >Secondary</span
                          >
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </article>
          </section>
          <div class="border-bottom border-dark border-2 mb-2">
            <div class="card mt-2 mb-2">
              <div class="card-body">
                <div class="row">
                  <div class="col-2">
                    <div style="height: 100px" class="border mb-2 w-100">
                      <img src="#" alt="img" class="img-fluid" />
                    </div>
                    <div>
                      <input type="number" class="form-control" value="5" />
                    </div>
                  </div>
                  <div class="col d-flex flex-column justify-content-between">
                    <div>
                      <p class="card-text">
                        With supporting text below as a natural lead-in to
                        additional content Lorem ipsum dolor sit amet
                        consectetur adipisicing elit. Voluptatibus excepturi
                        voluptates assumenda earum aut minima suscipit deserunt,
                        quo necessitatibus. Nam numquam eligendi velit laborum
                        eveniet ratione vitae quasi excepturi quod possimus
                        minima nemo aperiam vero blanditiis sed provident,
                        quaerat voluptatibus, eius, facilis ipsum tempora id
                        veritatis assumenda! Adipisci odio harum vitae quod
                        alias vel debitis, numquam, ex, possimus provident rem
                        molestias ratione distinctio! Minus distinctio, ipsa
                        quod sit architecto eius eum vel, necessitatibus atque
                        nobis illum voluptatibus rem nostrum ex maxime
                        consequuntur iure neque quae? Odio sed at dicta quam
                        sequi harum cupiditate delectus, natus quod sit deleniti
                        iste velit.
                      </p>
                    </div>

                    <div class="form-check d-flex justify-content-start mt-3">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        value=""
                        id="checkDefault"
                      />
                      <label class="form-check-label" for="checkDefault">
                        Correct!
                      </label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="card mt-2 mb-2">
              <div class="card-body">
                <div class="row">
                  <div class="col-2">
                    <div style="height: 100px" class="border mb-2 w-100">
                      <img src="#" alt="img" class="img-fluid" />
                    </div>
                    <div>
                      <input type="number" class="form-control" value="5" />
                    </div>
                  </div>
                  <div class="col d-flex flex-column justify-content-between">
                    <div>
                      <p class="card-text">
                        With supporting text below as a natural lead-in to
                        additional content Lorem ipsum dolor sit amet
                        consectetur adipisicing elit. Voluptatibus excepturi
                        voluptates assumenda earum aut minima suscipit deserunt,
                        quo necessitatibus. Nam numquam eligendi velit laborum
                        eveniet ratione vitae quasi excepturi quod possimus
                        minima nemo aperiam vero blanditiis sed provident,
                        quaerat voluptatibus, eius, facilis ipsum tempora id
                        veritatis assumenda! Adipisci odio harum vitae quod
                        alias vel debitis, numquam, ex, possimus provident rem
                        molestias ratione distinctio! Minus distinctio, ipsa
                        quod sit architecto eius eum vel, necessitatibus atque
                        nobis illum voluptatibus rem nostrum ex maxime
                        consequuntur iure neque quae? Odio sed at dicta quam
                        sequi harum cupiditate delectus, natus quod sit deleniti
                        iste velit.
                      </p>
                    </div>

                    <div class="form-check d-flex justify-content-start mt-3">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        value=""
                        id="checkDefault"
                      />
                      <label class="form-check-label" for="checkDefault">
                        Correct!
                      </label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <nav aria-label="Page navigation example">
              <ul class="pagination d-flex justify-content-center w-auto">
                <li class="page-item">
                  <a class="page-link" href="#">Previous</a>
                </li>
                <li class="page-item">
                  <a class="page-link" href="#">1</a>
                </li>
                <li class="page-item">
                  <a class="page-link" href="#">2</a>
                </li>
                <li class="page-item">
                  <a class="page-link" href="#">3</a>
                </li>
                <li class="page-item">
                  <a class="page-link" href="#">Next</a>
                </li>
              </ul>
            </nav>
          </div>
          <form action="">
            <div class="mb-1">
              <label for="exampleFormControlTextarea1" class="form-label mt-2"
                ><h3>Your answer</h3></label
              >
              <textarea
                class="form-control w-100"
                maxlength="5000"
                minlength="220"
                id="exampleFormControlTextarea1"
                placeholder="Enter your answer here.."
                rows="8"
                required
              ></textarea>
              <div class="invalid-feedback">
                Body must be at least 220 characters.
              </div>
            </div>
            <div class="mt-3">
              <button type="submit" class="btn btn-primary">
                Post your answer
              </button>
            </div>
          </form>
        </main>

        <aside class="col-2">
          <section class="mb-3">
            <h3>Popular tags</h3>
            <div>
              <span class="badge text-bg-primary">Primary</span>
              <span class="badge text-bg-secondary">Secondary</span>
              <span class="badge text-bg-success">Success</span>
              <span class="badge text-bg-danger">Danger</span>
              <span class="badge text-bg-warning">Warning</span>
              <span class="badge text-bg-info">Info</span>
              <span class="badge text-bg-light">Light</span>
              <span class="badge text-bg-dark">Dark</span>
            </div>
          </section>
          <section>
            <h3>Best members</h3>

            <div><a class="d-block" href="#">Hiroshi Goto</a></div>
            <div><a class="d-block" href="#">Hiroshi Goto</a></div>
            <div><a class="d-block" href="#">Hiroshi Goto</a></div>
            <div><a class="d-block" href="#">Hiroshi Goto</a></div>
            <div><a class="d-block" href="#">Hiroshi Goto</a></div>
          </section>
        </aside>
      </div>
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
